.footer {
    &__wrap {
        position: relative;
        padding: 15px 0 20px;
        min-height: 227px;
        transition: all 0.2s linear;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 1px;
            background: linear-gradient(116.15deg, #AFE11E 0%, #4DB856 100%);
            border-radius: 5px;
        }

        @media screen and (max-width: 767px) {
            min-height: auto;
        }
    }
    &__trigger {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 0;
        font-size: 18px;
        font-weight: normal;
        text-align: center;
        opacity: 0.55;
        color: $primary-color;
        background: transparent;
        border: none;
        &:focus {
            outline: none;
        }
        &::after {
            content: '';
            position: absolute;
            top: calc(50% + 1px);
            right: -8px;
            transform: translate(100%, -50%);
            display: block;
            width: 12px;
            height: 12px;
            opacity: 0;
            background-image: url(../img/dist/sprite.svg#icon-close);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        &--close {
            &::after {
                opacity: 1;
            }
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s linear;
        pointer-events: none;
        &--active {
            padding: 15px 0 20px;
            visibility: visible;
            max-height: 100vh;
            opacity: 1;
            pointer-events: all;
        }

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }
    &__block + &__block {
        margin-left: 25px;

        @media screen and (max-width: 767px) {
            margin-top: 25px;
            margin-left: 0;
        }
    }
    &__link {
        font-size: 12px;
        font-weight: normal;
        color: $primary-color;

        @media screen and (max-width: 767px) {
            font-size: 16px;
        }
    }
}